.Arrow{
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(218, 186, 218);
    width: 40px;
    height: 40px;
    border: 1px solid purple;
}


@media (max-width:500px) {
    .Arrow{
        width: 30px;
        height: 30px;
        margin: 1px;
    }
 }